---
import Layout from '../layouts/Main.astro';
---

<Layout
	title="Contact"
	description="Josh Moody's contact information and social links."
>
	<section>
		<p>You can find me at any of the links below</p>
		<p>
			<a href="https://github.com/joshmoody24"><button>Github</button></a>
			<a href="https://www.youtube.com/channel/UCxFHoHvQWZ0VF9NM_XcYVeA"><button>YouTube</button></a>
			<a href="https://www.linkedin.com/in/joshmoody24/"><button>LinkedIn</button></a>
			<a href="https://twitter.com/joshmoody24"><button>Twitter</button></a>
			<a href="mailto:josh@joshmoody.org"><button>Email</button></a>
		</p>
	</section>

</Layout>
