---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact"
	description="Lorem ipsum dolor sit amet"
>
	<section>
		<h2>Social Links</h2>
		<p>
			<a href="https://github.com/joshmoody24"><button>Github</button></a>
			<a href="https://www.youtube.com/channel/UCxFHoHvQWZ0VF9NM_XcYVeA"><button>YouTube</button></a>
			<a href="https://www.linkedin.com/in/joshmoody24/"><button>LinkedIn</button></a>
			<a href="https://twitter.com/joshmoody24"><button>Twitter</button></a>
		</p>
	</section>

	<section>
		<h2>Contact Me</h2>
		<a href="mailto:josh@joshmoody.org"><button>Send me an email</button></a>
	</section>
</Layout>
