---
import Layout from '../layouts/Main.astro';
---

<Layout
	title="Contact"
	description="Josh Moody's contact information and social links."
>
	<section>
		<p>You can find me at any of the links below:</p>
		<div class="contact-links">
			<a href="https://github.com/joshmoody24" class="button">GitHub</a>
			<a href="https://www.youtube.com/channel/UCxFHoHvQWZ0VF9NM_XcYVeA" class="button">YouTube</a>
			<a href="https://www.linkedin.com/in/joshmoody24/" class="button">LinkedIn</a>
			<a href="https://twitter.com/joshmoody24" class="button">Twitter</a>
			<a href="mailto:josh@joshmoody.org" class="button">Email</a>
		</div>
	</section>

</Layout>
