---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Main.astro';
---

<Layout
	title="Home"
	description="Josh Moody's homepage"
>
	<section>
		<p>
			I've been passionate about tech since forever. I've been making web apps, video games, and digital art since I was a young lad.
		</p>
		<p>
			I'm currently studying at <a href="https://www.byu.edu">Brigham Young University</a> while pursuing a degree in Information Systems. I currently work as a full stack developer for BYU.
		</p>
		<p>
			This website is a hub for all my websites and projects.
		</p>
	</section>
	<section>
		<img src="/josh-moody.jpg" alt="Josh Moody: the man, the myth, the legend" />
	</section>
</Layout>
