---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Main.astro';
---

<Layout
	title="joshmoody.org"
	description="Lorem ipsum dolor sit amet"
>
	<section>
		<p>
			The hub for all of Josh Moody's websites.
		</p>
		<img style="max-width:min(40rem,100%);filter:grayscale(1)" src="/josh-moody.jpg" alt="Josh Moody" />
	</section>
</Layout>
