---
import Layout from '../layouts/Main.astro';
---

<Layout
        title="Temple Q and A"
        description=""
>
        <section>
                <p>
<a href="https://forms.gle/kuhBVz4BHQoMMDdBA">Temple Link</a>
                </p>
        </section>

</Layout>