---
interface Props {
  number: number;
}

const { number } = Astro.props;
---
<div
  id={`footnote-${number}`}
  role="note"
  aria-labelledby={`footnote-${number}-ref`}
  popover="hint"
><slot /></div>

<style>
  sup {
    color: var(--color-primary)
  }

  button {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
  }

  div[popover] {
    inset: unset;
    margin: 0;
    position: absolute;
    top: calc(anchor(bottom) + 8px);
    justify-self: anchor-center;
    background-color: var(--color-background);
    padding: var(--spacing-md);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    max-width: min(350px, 90vw);
  }

  div[popover]::backdrop {
    backdrop-filter: brightness(0.67);
  }
</style>
