---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
}

const {title} = Astro.props;
---

<header>
	<h1>{title}</h1>
	<nav aria-label="Main navigation">
		<ul>
			<li><HeaderLink href="/">Home</HeaderLink></li>
			<li><HeaderLink href="/blog">Blog</HeaderLink></li>
			<li><HeaderLink href="/projects">Projects</HeaderLink></li>
			<li><HeaderLink href="/contact">Contact</HeaderLink></li>
		</ul>
	</nav>
</header>